@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .skeleton {
    @apply bg-gray-200 animate-pulse rounded;
  }
}

html {
    scroll-behavior: smooth;
}
